<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <spacgee48_priceslider>
            <slider>
                <highlight_color>#b30f00</highlight_color>
                <background_color>#dadada</background_color>
            </slider>
        </spacgee48_priceslider>
    </default>
</config>
